.link{
    color: hsl(200,100%,50%);
}
.pic{
    width: 640px;
}
.bold{
    font-weight: bold;
}
.italy{
    font-style: italic;
}
.italy-bold{
    font-weight: bold;
    font-style: italic;
}
.text{
    line-height: 2;
    word-break: break-all;
}